In [2]:
import pandas as pd
import urllib.request
import requests
from bs4 import BeautifulSoup

In [3]:
key = "kMp5bNdDlE6%2FAh38y4amt4hwbKsh4JZlPkgj0WmWEHTMfhyE9Sa1Hojx0Jbj4Gi7QXC7jRoWloXcXBsp3QtJgg%3D%3D"
def dataset(key) :
    
    tag_list = ["airfln",'airlineenglish','airlinekorean','airport','arrivedeng',
           'arrivedkor','boardingeng','boardingkor','city','etd','gate',
           'io','line','rmkeng','rmkkor','std']
    
    url = "http://openapi.airport.co.kr/service/rest/FlightStatusList/getFlightStatusList?ServiceKey="+key+"&schStTime=0600&schEdTime=1800&schAirCode=CJU&pageNo=1"
    dataset = []
    for i in tag_list:
        dataList = []
        res = requests.get(url)
        soup = BeautifulSoup(res.content, 'html.parser')
        find_soup = soup.find_all(i)
        for j in find_soup :
            dataList.append(j.get_text())
        dataset.append(dataList)
    return pd.DataFrame(dataset)

dataset = dataset(key)
dataset

,0,1,2,3,4,5,6,7,8,9
0,OZ8900,OZ8902,RS901,OZ8901,TW801,LJ592,TW811,TW701,OZ8903,RS902
1,ASIANA AIRLINE,ASIANA AIRLINE,AIR SEOUL,ASIANA AIRLINE,T'WAY AIR CO.LTD,JINAIR,T'WAY AIR CO.LTD,T'WAY AIR CO.LTD,ASIANA AIRLINE,AIR SEOUL
2,아시아나항공,아시아나항공,에어서울,아시아나항공,티웨이항공,진에어,티웨이항공,티웨이항공,아시아나항공,에어서울
3,CJU,CJU,CJU,CJU,CJU,CJU,CJU,CJU,CJU,CJU
4,GIMPO,GIMPO,JEJU,JEJU,JEJU,GWANGJU,JEJU,JEJU,JEJU,GIMPO
5,서울/김포,서울/김포,제주,제주,제주,광주,제주,제주,제주,서울/김포
6,JEJU,JEJU,GIMPO,GIMPO,DAEGU,JEJU,DAEGU,GIMPO,GIMPO,JEJU
7,제주,제주,서울/김포,서울/김포,대구,제주,대구,서울/김포,서울/김포,제주
8,GMP,GMP,GMP,GMP,TAE,KWJ,TAE,GMP,GMP,GMP
9,0636,0652,0701,0704,0710,0731,0719,0730,0725,0745
10,10,7,13,6,50,3A,51,9,10,13
11,O,O,I,I,I,O,I,I,I,O
12,국내,국내,국내,국내,국내,국내,국내,국내,국내,국내
13,DEPARTED,DEPARTED,ARRIVED,ARRIVED,ARRIVED,DEPARTED,ARRIVED,ARRIVED,ARRIVED,DEPARTED
14,출발,출발,도착,도착,도착,출발,도착,도착,도착,출발
15,0630,0640,0700,0715,0720,0720,0730,0730,0735,0735