In [ ]:
#숙제 서울소재 대학교
map_1=folium.Map(location=[37.565711,126.978090],zoom_start=16)
                 #,tiles="Stamen Terrain")
folium.Marker([37.460155, 126.951841],popup='서울대학교').add_to(map_1) #확대축소
folium.Marker([37.565997, 126.938540],popup='연세대학교').add_to(map_1)
folium.Marker([37.496490, 126.957481],popup='숭실대학교').add_to(map_1)
folium.Marker([37.612235, 126.997650],popup='국민대학교').add_to(map_1)
folium.Marker([37.560003, 126.945469],popup='이화여대학교').add_to(map_1)
folium.Marker([37.596425, 127.052544],popup='경희대학교').add_to(map_1)
folium.Marker([37.584044, 127.058713],popup='서울시립대학교').add_to(map_1)
folium.Marker([37.551786, 126.924900],popup='홍익대학교').add_to(map_1)
folium.Marker([37.590986, 127.027702],popup='고려대학교').add_to(map_1)
folium.Marker([37.602850, 126.955220],popup='상명대학교').add_to(map_1)

map_1

In [1]:
# 문제 다음 데이터를 데이터프레임에 저장하시요
#       지역  2018     2017   2016    2015     2015-2018 증가율
#서울 수도권  9904312 9631482 9762546 9853972    0.0283
#부산 경상권  3448737 3393191 3512547 3655437    0.0163
#인천 수도권  2890451 2632035 2517680 2466338    0.0982
#대구 경상권  2466052 2431774 2456016 2473990    0.0141 

import pandas as pd
data={"2018": [9904312, 3448737, 2890451, 2466052],
    "2017": [9631482, 3393191, 2632035, 2431774],
    "2016": [9762546, 3512547, 2517680, 2456016],
    "2015": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2015-2018 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2018", "2017", "2016", "2015", "2015-2018 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

#문제: 2015-2018증가율을 %로 변경하시오
df["2015-2018 증가율"]=round((df["2018"]-df["2015"])/df["2015"]*100,2)
#문제:2015-2017의 증가율을 구해서 변수를 추가하시오
#(열이름:'2015-2017 증가율")
df["2015-2017 증가율"]=round((df["2017"]-df["2015"])/df["2015"]*100,2)

df

     지역     2018     2017     2016     2015  2015-2018 증가율  2015-2017 증가율
서울  수도권  9904312  9631482  9762546  9853972           0.51          -2.26
부산  경상권  3448737  3393191  3512547  3655437          -5.65          -7.17
인천  수도권  2890451  2632035  2517680  2466338          17.20           6.72
대구  경상권  2466052  2431774  2456016  2473990          -0.32          -1.71